.msgbox{
  background-image: url('../../../components/images/chat_bgjpg.webp');
  height:550px;
  margin:  0px 16px 0px 16px;
  overflow: auto;
  flex: auto;
}
.msgbox::-webkit-scrollbar {
     width: 0 !important;
    display: none;
    }

.msg-from-client{
  background-color: teal;
  margin-left: 66% !important;
  margin-right: 10px !important;
  margin-bottom: 20px !important;
}


.msg-to-client{
  background-color: darkgray;
  margin-bottom: 20px !important;

}
.img-from-client{
  background-color: transparent;
  float: right;
  margin-left: 60% !important;
  margin-right: 10px !important;
  margin-bottom: 20px !important;
}


.img-to-client{
  background-color: transparent;
  margin-bottom: 20px !important;

}
.image{
  height: 400px;
  width: 400px;
}
