.msgbox{
  height:600px;
  padding: 0 0;
  overflow: auto;
  flex: auto;
}
.msgbox::-webkit-scrollbar {
     width: 0 !important;
    display: none;
    }

.msg-from-client{
  background-color: teal;
  margin-left: 66% !important;
  margin-right: 10px !important;
}


.msg-to-client{
  background-color: darkgray;
}
