@import url('https://fonts.googleapis.com/css2?family=Abel&family=Montserrat&family=Open+Sans&family=Roboto:wght@300;400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Abel&family=Bitter&family=Exo:wght@500&family=Montserrat&family=Open+Sans&display=swap');

/* font-family: 'Roboto', sans-serif; */

body {
  background-image: url('./components/images/background_main.jpg');
  /* overflow-y: hidden; */
  /* background-color: rgb(205, 255, 245) !important; */
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


.mycard{
    margin-top: 200px !important;
    
}
.contact-div{

  margin-top: 0px !important;
}

.contact-card{
  /* margin: 0px !important; */
  padding: 5px 15px 5px 15px;
}
.maindiv{
  margin-top: 50px !important;
}

.infobar-row{
  margin: 0px !important;
}
.btn{
  margin: 5px 15px 5px 5px ;
}
.btn-s{
  margin: 5px 15px 5px 20px ;
}
.col-4{
  padding-right: 0px !important;
}
.col-8{
  padding-left: 0px !important;
  padding-right: 0px !important;
}

.input-bar{
  background-color: rgb(201, 243, 243);
  margin: 0px 15px 0px 15px !important;
  padding: 3px 15px 0px 0px;
}